body {
    margin: 0;
    font-family: "Geom", sans-serif;
    background: #ebbf44;
    color: #fff;
    text-align: center;
    height: 100vh;
}

.countdown-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.countdown-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    width: 100%;
    max-width: 850px;

    margin: 0 auto;
}

.countdown {
    margin: 0;
    font-weight: bold;
    line-height: 1.1;
    text-shadow: 2px 2px 4px rgba(122, 119, 119, 0.3);
    font-size: 7rem;
}

.countdown-wrapper > a {
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 1.3;
    font-size: 3rem;
}

.bottom-gif {
    max-width: 90%;
    height: auto;
}


/*Rewind-------------------------------------------*/
.rewind-section{
    background: #ebbf44;
}

.scroll-indicator {
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 1.2rem;
    text-align: center;
    background: rgba(0, 0, 0, 0.2);
    padding: 12px 25px;
    border-radius: 30px;
    backdrop-filter: blur(5px);
    border: 2px solid rgba(255, 255, 255, 0.3);
    z-index: 100;
    display: none;
    pointer-events: none;
}

.rewind-title{
    height: 90vh;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

.rewind-title > a{
    font-size: 3rem;
    font-weight: bold;
    margin-top:  10vh;
    
}

#cat-image{
    width: 300px;
    height: auto;
}

#cat-image2{
    width: 300px;
    height: auto;
}

.icon-btn {
    width: 30px;
    height: 30px;
    border: none;
    background: none;
    cursor: pointer;
}

.icon-btn.play {
    clip-path: polygon(30% 20%, 30% 80%, 80% 50%);
    background-color: #ffffff;
}


.icon-btn.pause {
    background:
        linear-gradient(#ffffff 0 0) left/35% 100% no-repeat,
        linear-gradient(#ffffff 0 0) right/35% 100% no-repeat;
    background-color: transparent;
}


.view {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.block {
    height: 300px;
    width: 90%;
    margin: 20px;
    
}

.block:nth-child(1) {
    font-size: 4rem;
    height: 200px;
}

.viajes {
    height: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font-size: 2rem;
    margin-bottom: 50px;
}

.memories{
    display:  flex;
    flex-direction:  row;
    align-items: center;
    justify-content: space-evenly;
    font-size: 2rem;
    margin-bottom: 50px;
}

.text-chart{
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}



#malinche-img{
    width: auto;
    height: inherit;
    border-radius: 20px;
}


@keyframes appear {
    from {
        opacity: 0;
        clip-path: inset(100% 0 100% 0);
    }
    to {
        opacity: 1;
        clip-path: inset(0 0 0 0);
    }
}

.block {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

.last{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
.last > a{
    font-size: 2rem;
    font-weight: bold;
}

.text-start{
    padding-bottom: 90px;
}

/* Mobile styles */
@media (max-width: 480px) {
    .countdown {
        font-size: 2.5rem;
    }
    .countdown-wrapper{
        max-width: 100vw;
        max-height: 70vh;
    }
    
    .countdown-wrapper > a {
        font-size: 1.3rem;
        padding: 0 15px;
    }
    
    .bottom-gif {
        width: 180px;
    }
    #cat-image{
        width: 300px;
        height: auto;
        margin-bottom: 40px;
    }

    #cat-image2{
        width: 300px;
        height: auto;
        margin-bottom: 40px;
    }
    .rewind-title > a{
        font-size: 2rem;
    }
    
    .block:nth-child(1) {
        font-size: 2rem;
        margin-bottom: 10px;
    }
    .text-start{
        padding-bottom: 60px;
    }

    .viajes {
        height: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        font-size: 1.5rem;
        margin-bottom: 30px;
        margin-top: 0;
    }

    .memories {
        height: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        font-size: 1.5rem;
        margin-bottom: 30px;
        margin-top: 0;
    }
    
    #malinche-img{
        width: 200px;
        height: auto;
        border-radius: 20px;
    }

    .block:nth-child(3) {
        flex-direction: column-reverse;
    }
    .block:nth-child(5){
        flex-direction: column-reverse;
    }

    .inverted{
        flex-direction: column-reverse;
    }
  
    .sally{
        height: 700px;
    }

}
